.whiteBoardContainer {
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    color: black;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}